<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Official NuGet Public Feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Official Cosmos OS Package Feeds (Where Cosmos.System2, Cosmos.HAL2 and IL2CPU live) -->
    <add key="Cosmos MyGet" value="https://www.myget.org/F/cosmos/api/v3/index.json" protocolVersion="3" />
    <add key="Cosmos Azure" value="https://pkgs.dev.azure.com/CosmosOS/Cosmos/_packaging/cosmos/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
